
h2 {
	color: black;
	font-family: 'Raleway',sans-serif;
	font-size: 22px;
	font-weight: 800;
	line-height: 26px;
	text-align: center;
	margin: 0;
	margin-bottom: 5px;
}


p {
	color: darkgrey;
	font-family: 'Raleway',sans-serif;
	font-size: 18px;
	font-weight: 500;
	line-height: 26px;
}


a { color: darkgrey; text-decoration: underline; }


a:hover { color: #1c1c1c; text-decoration: underline; }

.item{
	margin: 3px;
	background-color: white;
	border: 2px solid black;
	border-radius: 3px;
}

.item-header{
	background-color: lightgray;
}

.navbar.navbar-inverse.navbar-fixed-top{
	padding: 0;
}

.label{
	display: block !important;
	margin: 10px !important;
	padding: 5px !important;
}

.hidden{
	display: none;
}

body {
	/*background-image: url("../img/curtains.jpg");
	background-color: #cccccc;*/
	background-color: white;
}

nav{
	background-color: transparent !important;
	border: 0 !important;
}

main.container{
	border-radius: 5px;
}

header nav .container{
	background-color: brown;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

main.container{
	margin-top: 30px;
}

article{
	margin-top: 5px;
}

.formattedTextBox {
	width: 98%;
	border: 1px solid black;
	min-height: 10px;
	padding: 10px;
	margin: 10px 1% 10px 1%;
}

/* added by Isaac */
.searchedTextBox{
	width: 80%;
	border: 1px solid black;
	min-height: 10px;
	padding: 10px;
	margin: 10px 1% 10px 1%;
}

.table-striped{
	background-color:lightgrey;
	width:100%;
	border:3px black solid;
}
/* end by Isaac */

.leftButton {
	margin: 5px !important;
	width: 100% !important;
	margin-left: 0 !important;
}

.rightButton{
	margin: 5px !important;
	width: 100% !important;
	margin-right: 0 !important;
}

.centeredButton{
	margin-top: 5px;
	width: 100% !important;
}

.row10px{
	margin-left: -10px !important;
	margin-right: -10px !important;
}


* {
	box-sizing: border-box !important;
}

#textbox{
	width: 100%;
	border: 1px solid black;
	font-size: 3vw;
}

#map{
	width: 100%;
	border: 1px solid black;
	min-height: 500px;
}

body{
	background-color: white;
	text-align: center;
	padding: 15px;
}

header, footer{
	padding: 10px;
}

nav, main, section
{
	padding: 10px;
	background-color: brown;
}

nav, article{
	margin-bottom: 10px;
	padding: 10px;
	background-color: darkgrey;
}

figure{
	background-color: mediumslateblue;
	color: white;
}

ul{
	list-style-type: none;
}

.left{
	text-align: left;
	float: left;
	margin-top: 20px;
}

.right{
	text-align: right;
	float: right;
	margin-top: 20px;
}

figure img{
	padding-top: 10px;
}

.minHeight300{
	min-height: 280px !important;
}

.distance-table{
	width: 98%;
	margin: 10px 1% 10px 1%;
	padding: 10px;
}

/*The following can be written in one css line, but is more maintainable with various (In case of future changes) */
.sm-3, .sm-4, .sm-6, .sm-12, .md-3, .md-4, .md-6, .md-12, .lg-3, .lg-4, .lg-6, .lg-12 , .xl-3, .xl-4, .xl-6, .xl-12  {
	position: relative;
	min-height: 1px;
	padding-right: 5px;
	padding-left: 5px;
	float: left;
	height: auto;
	background-clip: content-box;
}

table{
	margin: auto;
	border: 1px solid black;
	margin-top: 15px;
	margin-bottom: 10px;
}

table td{
	border: 1px solid gray;
}
