
h2 {
	//color: black;
	font-family: 'Raleway',sans-serif;
	font-size: 22px;
	font-weight: 800;
	line-height: 26px;
	text-align: center;
	margin: 0;
	margin-bottom: 5px;
}


p {
	//color: darkgrey;
	font-family: 'Raleway',sans-serif;
	font-size: 18px;
	font-weight: 500;
	line-height: 26px;
}

.item{
	margin: 3px;
	background-color: white;
	border: 2px solid black;
	border-radius: 3px;
}

.item-header{
	background-color: black;
	color: white;
}
.item-description{
	text-align: center;
}

img{
	padding: 0 6px;
	float: left;
	width: 24.99999%;

}

.label{
	display: block !important;
	margin: 10px !important;
	padding: 5px !important;
}

.hidden{
	display: none;
}

body {
	background-color: white;
}

nav{
	background-color: black;
}
.navbar{
	background-color:black;
}
.navbar-brand{
	color: white;
	font-size: 3vw;
	font-family: 'Condiment', cursive;
}
#origin-input{
	width: 100%;
}

main.container{
		margin-top: 70px;
		min-height: 90vh;
}

header nav .container{
	background-color: black;
	color: white;
}

article{
	margin-top: 5px;
}

.formattedTextBox {
	width: 98%;
	border: 1px solid black;
	min-height: 10px;
	padding: 10px;
	margin: 10px 1% 10px 1%;
}

.searchedTextBox{
	width: 80%;
	min-height: 40px;
}

.btn{
	width: 15%;
	min-height: 40px;
}

.table-striped{
	background-color:lightgrey;
	width:100%;
	border:3px black solid;
}
/* end by Isaac */

.leftButton {
	margin: 5px !important;
	width: 100% !important;
	margin-left: 0 !important;
}

.rightButton{
	margin: 5px !important;
	width: 100% !important;
	margin-right: 0 !important;
}

.centeredButton{
	margin-top: 5px;
	width: 100% !important;
}

.row10px{
	margin-left: -10px !important;
	margin-right: -10px !important;
}


* {
	box-sizing: border-box !important;
}

#map{
	width: 100%;
	border: 1px solid black;
	min-height: 500px;
}

nav, main, section
{
	padding: 10px;
	background-color: black;
}


figure{
	background-color: mediumslateblue;
	color: white;
}

ul{
	list-style-type: none;
}

.left{
	text-align: left;
	float: left;
	margin-top: 20px;
}

.right{
	text-align: right;
	float: right;
	margin-top: 20px;
}

figure img{
	padding-top: 10px;
}

.minHeight300{
	min-height: 280px !important;
}

.distance-table{
	width: 98%;
	margin: 10px 1% 10px 1%;
	padding: 10px;
}

/*The following can be written in one css line, but is more maintainable with various (In case of future changes) */
.sm-3, .sm-4, .sm-6, .sm-12, .md-3, .md-4, .md-6, .md-12, .lg-3, .lg-4, .lg-6, .lg-12 , .xl-3, .xl-4, .xl-6, .xl-12  {
	position: relative;
	min-height: 1px;
	padding-right: 5px;
	padding-left: 5px;
	float: left;
	height: auto;
	background-clip: content-box;
}

table{
	margin: auto;
	border: 1px solid black;
	margin-top: 15px;
	margin-bottom: 10px;
}

table td{
	border: 1px solid gray;
}
